.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main-body{ 
    height: 80%;
    padding-top: 70px;  
   
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6.74rem;

}
.footer{
   text-align: center;
   right: 0;
   left: 0;
   bottom: 5px;
   position: fixed;
   background-color: white;
}

.cnamedivtestimonial{
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    text-align: left;
    gap: 3rem;
    padding: 20px;
    font-size: 24px; */
}
