
.cnameform{    
    /*box-shadow: inset 3px -3px  rgba(20, 0, 255, 0.5);*/
    box-shadow: inset -0.9px -0.9px   rgba(173, 216, 230, 1);    
}
.box{    
    /*box-shadow: inset 3px -3px  rgba(20, 0, 255, 0.5);*/
    box-shadow: inset 1px -0.9px  rgba(173, 216, 230, 1);   
}
.cnameform{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    /*border: 1px solid blue;*/
  
   /* background-color: rgba(0, 0, 0, 0.3);*/
    border-radius: 65px;      
    text-align: center;
    margin: 0% 35% ;
}



.box{
    padding:10px;
    margin-top: 40px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 16px;
   /* background-color: rgba(0, 0, 0, 0.3);*/
    color:black;
    font-size: 1.1rem;
}
#submit{
    padding: 10px 20px;
    margin-top: 50px;
    width: 50%;
    border: none;
    color: blue;
    border-radius: 16px;
    font-size: 1rem;    
    border-color: rgba(0, 216, 230, .7);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: inset 10px -20px 10px -10px  rgba(173, 216, 230, 1);
}
#submit:hover{
    cursor: pointer;
   /*background-color: rgba(213, 213, 228, 0.2);
   border: none;*/
   /*color: background-color: rgb(95, 137, 217);*/
   /*background-color: rgba(173, 216, 230, 1); */
   /*border: solid silver;
   box-shadow: inset -3px -3px  silver;*/
   box-shadow: inset 10px -30px 10px -6px  rgba(173, 216, 230, 1);
   
}
.mg{
margin-top: 0px;
width: 70px;
border-radius: 50%;
box-shadow: inset 3px 3px  rgba(0, 26, 255, 1); 
}
/*
.navbar{
    display:flex;
    flex-direction: row;
}
.nav-links{
    display:flex;
    flex-direction: row;
}*/
.alt-login div{    
    border-radius: 0.25em;
    background-color: lightblue;   
    cursor: pointer;
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

.btn{
    padding:  10px 80px;
    margin: 0px;
    width: 100px;
   /*background-color: rgba(213, 213, 228, 0.9);*/
    border: none;
   /* background-color: rgba(0, 0, 0, 0.3);*/
   /* best color: background-color: rgba(173, 216, 230, 1);*/
   /*box-shadow: inset -3px -3px  rgb(140, 186, 201); */
   /*background-color: rgb(169, 217, 233);*/
    color: blue;
    border-radius:16px;
    font-size: 1rem;
  margin-right: 20px;
    border-color: rgba(0, 216, 230, .7);
    /*border: solid lightblue;*/
    text-decoration: none;
    font-size:medium;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: inset 2px -2px 30px -13px  rgba(173, 216, 230, 1);
}
.btn:hover{
    cursor: pointer;
   /*background-color: rgba(213, 213, 228, 0.2);
   border: none;*/
   /*best color: background-color: rgb(95, 137, 217);*/
   /*background-color: rgba(173, 216, 230, 1); */
   /*border: solid silver;
   box-shadow: inset -3px -3px  silver;*/
   box-shadow: inset 10px -20px 10px -6px  rgba(173, 216, 230, 1);
}
.btn:active{
    box-shadow: inset 10px -30px 10px -6px  rgba(173, 216, 230, 1);
}
.navLink{
   margin-top: 30px;
}
.logo{
    width: 75px;  
    border-radius: 10%;   
}
/*
.container{
    max-width: 1100px;
    margin: 0px;
    padding: 0px 15px;
   display: flex;
  flex-direction: row;
    justify-content: space-between;
    align-items: center;height: 100%;
}*/
/*
.navbar{
  //  height: 60px;
   background-color: rgba(173, 216, 230, 1);
   //position: relative;
   width: 0vw;
   max-width: var(--max-width);
   //margin: 0 auto;
   display: flex;
   gap: 1rem;
}*/
/*
.nav-elements ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}*/
/*
.side-nav-elements ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}
*/
/*
.nav-elements ul li:not(:last-child){
    margin-right: 60px;
}
.side-nav-elements ul li:not(:last-child){
    margin-top: 0px;
}


.nav-elements ul a{
    font-size: 20px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
}
.side-nav-elements ul a{
    font-size: 20px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
}


.nav-elements ul a.active{
    color: #574c4c;
    font-weight: 500;
    position: relative;
}
.side-nav-elements ul a.active{
    color: #574c4c;
    font-weight: 500;
    position: relative;
}


.nav-elements ul a.active::after{
    content:'';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
}
.side-nav-elements ul a.active::after{
    content:'';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
}


.link{
    color:var(--grey-500)
}
.active{
    color: var(--grey-500);
}
*/
/*
.header{
    margin-top:0px;
   padding-left: 40%;
    background-color:    rgba(173, 216, 230, 1);
    color:black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 18px;
   border-radius: 100%;
   text-align: center;
  opacity: .7;
}
*/
